@charset "utf-8";

/**
 * Stylesheet Index:
 * =================
 *
 * 0. Elements
 * 1. ID & Class
 * 2. Pseudoclass
 * 3. Media Queries
 */

/* 0. Elements */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Exo";
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: #fff;
  color: #333;
  text-rendering: optimizelegibility;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Alegreya";
  font-weight: normal;
}

article {
  display: block;
  position: relative;
  margin: 0;
}

section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  min-height: 30rem;
  max-width: 960px;
  margin: 0 auto;
}

section h1 {
  margin: 0 auto 1rem;
  font-size: 3rem;
}

section h2 {
  margin: 0;
  font-size: 1.5rem;
}

section p {
  margin: 1rem;
  text-align: center;
}


/* 1. ID & Class */
#intro section > * {
  z-index: 1;
}

#intro canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#brand {
  margin: 0 auto;
  font-size: 5rem;
  cursor: default;
}

#caption {
  font-size: 1rem;
  margin: 0;
  cursor: default;
}

#upcoming p {
  margin: 0 auto;
}

#love {
  position: absolute;
  display: block;
  bottom: 1rem;
  left: 50%;
  margin-left: -0.6rem;
  font-size: 1.2rem;
  color: #aaa;
  cursor: default;
}

#unicorn { background: #34495e; color: #fff; }
#grouphone { background: #e74c3c; color: #fff; }
#upcoming { background: #2980b9; color: #fff; }
#team { background: #27ae60; color: #fff; }
#contact { background: #9b59b6; color: #fff; }

.icon { width: 2rem; }
.icon.small { width: 1rem; }
.icon.large { width: 4rem; }

.icon.down {
  color: #444;
  text-decoration: none;
  display: block;
  position: absolute;
  left: calc(50% - 1rem);
  bottom: 1rem;
  cursor: pointer;
  -webkit-animation: bobble 1s 3 linear;
  -webkit-transition: all 1s ease-out;
  animation: bobble 1s 3 linear;
  transition: all 1s ease-out;
}

.button {
  display: block;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 4px;
}

.member {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.member h2 {
  font-size: 1.2rem;
  text-align: right;
}

.member p {
  text-align: left;
}

.bg-black .down,
.bg-blue .down {
  fill: #eee;
  color: #eee;
}

.bg-black .button,
.bg-blue .button {
  color: #fafdff;
  border-color: #fff;
}


/* 2. Pseudoclass */
section p:last-child {
  margin-bottom: 0;
}

.bg-black .down:hover,
.bg-blue .down:hover,
.bg-black .down:focus,
.bg-blue .down:focus {
  fill: #fff;
  color: #fff;
}

.down:hover,
.down:focus {
  fill: #000;
  color: #000;
  -ms-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

@-webkit-keyframes bobble {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0.5rem, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes bobble {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0.5rem, 0);
    transform: translate3d(0, 0.5rem, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


/* 3. Media Queries */
/*@media all and (min-width: 480px) and (max-width: 768px) {
  #intro-title {
    font-size: 4rem;
  }

  #caption {
    font-size: 1.1rem;
  }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
  section h1 {
    margin-top: 0;
  }

  #intro-title {
    font-size: 5rem;
  }

  #caption {
    font-size: 1.25rem;
  }
}

@media all and (min-width: 1201px) {
  section {
    min-height: 35rem;
  }
  #intro-title {
    font-size: 5.5rem;
  }

  #caption {
    font-size: 1.5rem;
  }

  .show-large {
    display: block;
  }

  .button {
    margin-top: 3rem;
  }

  #upcoming .button {
    margin-top: 0;
  }
}*/
