*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Exo";
  font-size: 16px;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: #fff;
  color: #333;
  text-rendering: optimizelegibility;
}

article {
  display: block;
  position: relative;
  margin: 0;
}

section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  min-height: 30rem;
  max-width: 960px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: "Alegreya";
  font-weight: normal;
}

a,
a:visited {
  color: #333;
  text-decoration: none;
}

section h1 {
  margin-top: -3rem;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

section h2 {
  margin: 0;
  font-size: 1.5rem;
}

section p {
  margin: 0 1rem 1rem 1rem;
  text-align: center;
}

section p:last-child {
  margin-bottom: 0;
}

#intro section > * {
  z-index: 2;
}

#intro canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#intro-title {
  margin: -3rem 0 0 0;
  padding: 0;
  font-size: 3rem;
  cursor: default;
}

#caption {
  font-size: 1rem;
  margin: 0;
  cursor: default;
}

.bg-white {
  background: #ffffff;
  background: -webkit-linear-gradient(#ffffff, #fafafa);
  background: linear-gradient(#ffffff, #fafafa);
}

.bg-black {
  background: #333;
  background: -webkit-linear-gradient(#333, #000);
  background: linear-gradient(#333, #000);
  color: #fff;
}

.bg-blue {
  background: #255575;
  background: -webkit-linear-gradient(#255575, #0065A7);
  background: linear-gradient(#255575, #0065A7);
  color: #fff;
}

.show-large {
  display: none;
}

.arrow-down {
  font-size: 3rem;
  color: #444;
  text-decoration: none;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  margin-left: -1.5rem;
  cursor: pointer;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-animation: bobble 1s 3 linear;
  animation: bobble 1s 3 linear;
}

.arrow-down:hover,
.arrow-down:focus {
  color: #000;
  -ms-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

#intro .arrow-down {
  bottom: 4rem;
}

#upcoming .button {
  margin-top: -3rem;
}

#social-links {
  font-size: 2rem;
}

#love {
  position: absolute;
  display: block;
  bottom: 1rem;
  left: 50%;
  margin-left: -0.6rem;
  font-size: 1.2rem;
  color: #e6e6e6;
  cursor: default;
}

.button {
  display: block;
  margin-top: 1rem;
  color: #255575;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem;
  border: 0.2rem solid #0065A7;
  border-radius: 0.25rem;
}

.member {
  width: 100%;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.member h2 {
  font-size: 1.2rem;
  text-align: right;
}

.member p {
  text-align: left;
}

.bg-black .arrow-down,
.bg-blue .arrow-down {
  color: #eee;
}

.bg-black .arrow-down:hover,
.bg-blue .arrow-down:hover,
.bg-black .arrow-down:focus,
.bg-blue .arrow-down:focus {
  color: #fff;
}

.bg-black .button,
.bg-blue .button {
  color: #fafdff;
  border-color: #fff;
}

@-webkit-keyframes bobble {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0.5rem, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes bobble {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0.5rem, 0);
            transform: translate3d(0, 0.5rem, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  #intro-title {
    font-size: 4rem;
  }

  #caption {
    font-size: 1.1rem;
  }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
  section h1 {
    margin-top: 0;
  }

  #intro-title {
    font-size: 5rem;
  }

  #caption {
    font-size: 1.25rem;
  }
}

@media all and (min-width: 1201px) {
  section {
    min-height: 35rem;
  }
  #intro-title {
    font-size: 5.5rem;
  }

  #caption {
    font-size: 1.5rem;
  }

  .show-large {
    display: block;
  }

  .button {
    margin-top: 3rem;
  }

  #upcoming .button {
    margin-top: 0;
  }
}
